{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="portfolio-block block-intro">
    <div class="container">
        <div class="about-me">
            <p>WELCOME&nbsp;<strong>{{ user.username }}!</strong></p><a class="btn btn-outline-primary" role="button" href="#">Check Syllabus</a></div>
    </div>
</section>
<section class="portfolio-block photography">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
        </div>
    </div>
</section>
<section class="portfolio-block skills">
    <div class="container" id="container1">
        <div class="heading">
            <h2>Course information system</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card special-skill-item border-0">
                    <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                    <div class="card-body">
                        <h3 class="card-title">Save Paper</h3>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card special-skill-item border-0">
                    <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                    <div class="card-body">
                        <h3 class="card-title">Stay up to date</h3>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card special-skill-item border-0">
                    <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                    <div class="card-body">
                        <h3 class="card-title">Plan and Set Schedule</h3>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}